<!DOCTYPE html>
<html lang="zh-CN">
	<%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
<body class="page page-id-14 page-template page-template-tpl page-template-tpl-archive page-template-tpltpl-archive-php">
	<!--加入跟随滑动的顶部-->
<%- include('./includes/header') %>
<%- include('./includes/nav') %>
	<!--跟随滑动的顶部结束-->
	<div class="surface-content">    <main class="main-content">
        <section class="section-body">
                            <header class="section-header u-textAlignCenter">
                    <h2 class="grap--h2">文章归档</h2>
                </header>
                        <div class="fancy-archive">
								<% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>
								<% years.forEach(function(year) { %>
			<h3 class="archive-year"><%- year %></h3>
								<% posts.forEach(function(post) { %>
      <%if (post.date.indexOf(year) !== -1) { %>
			<ul class="fancy-ul">

				<li><a href="<%= post.link %>"><%= post.title %></a> <em><%= post.dateFormat %></em></li>
				
			</ul>
			<% } %>
			<% }); %>
  <% }); %>
                        </div>
			</section>
    </main>
</div>
<%- include('./includes/footer') %>
</body>
</html>